body {
  background-image: url("bg.gif");
}

a , a:hover , a:visited , a:focus {
  text-decoration:none;
  color:inherit;
}

h1 {
  color:white;
  margin:0;
}


/* header */

header {
  height:144px;
  width:980px;
  margin:0 auto;
  position:relative;
}

.logo {
  float:left;
}

.phone {
  margin:30px 0 0 70px;
}

.numbers {
  color:#005693;
  font-size:15px;
  font-weight:bold;
  float:right;
  margin:24px 38px 0 0;
}

.emails {
  height:81px;
  width:260px;
  float:right;
}

.cart {
  margin:52px 0 0 39px;
}

.orders {
  height:144px;
  width:207px;
  position:absolute;
  top:0px;
  right:0px;
}

.phone_numbers {
  height:81px;
  width:282px;
  float:left;
}


.header_container {
  height:144px;
  width:543px;
  float:left;
}


.email {
  margin:36px 0 0 41px;
}

.address {
  margin:33px 13px 0 0;
  color:#005693;
  font-size:14px;
  float:right;
}

.sum {
  font-size:13px;
  margin:36px 20px 0 0;
  color:#005693;
  float:right;
}

.sum1 {
  font-size:13px;
  color:#000000;
}


/* search form */

.box {
  width:543px;
  height:63px;
  float:right;
}

.search {
  width: 450px;
  border: 1px solid #d2d3d5;
  height: 37px;
  background-color:#ffffff;
  border-radius:5px;
  padding-left:2px;
  float:left;
  margin:5px 0 0 43px;
  position:relative;
  font-size:22px;
}

input[type="search"] {
  border: none;
  outline: none;
  width: 407px;
  vertical-align: middle;
  top:2px;
  left:9px;
  position:absolute;
}

input[type="submit"] {
  width: 22px;
  height: 22px;
  border: none;
  padding-right:3px;
  margin-top:-1px;
  background-image: url("search.jpg");
  background-color:#ffffff;
  position:absolute;
  right: 10px;
  top:8px;
  outline:none;
}

input[type="submit"]:active {
  background-color:#ffffff;
}


/* search form ends */


/* header ends */


/* content */

.content {
  height:2021px;
  width:980px;
  margin: 0 auto;
}

.main_content {
  width:800px;
  height:696px;
  float:right;
}

.topmenu li  {
  font-size:14px;
  display:block;
  float:left;
  padding:10px 18px 0 18px;
}

.topmenu li:hover  {
  background-color:#2c90d6;
  height:45px;
  margin:-3px 0 0 0;
  border-top:3px solid #2c90d6;
}

.topmenu {
  width:100%;
  color: white;
}

.topmenu ul {
  list-style-type: none;
  margin:0 auto;
}



.www {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.ww {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom:1px solid #d0dce6; 
}

.switcher {
  float:right;
  margin:20px 0 0 0;
}

.div_name {
  width:50%;
  height:44px;
  float:left;
}

.div_name2 {
  width:50%;
  height:44px;
  float:left;
}

.menu {
  background-color:#005693;
  border-radius:5px;
  height:39px;
  width:100%;
  margin-bottom:14px;
}

.block_img {
  width:148px;
  height:151px;
  float:left;
}

.block_info {
  width:330px;
  height:151px;
  float:right;
}

.price {
  width:113px;
  height:100px;
  float:right;
}

.date_time {
  margin:15px 0 5px 0;
  color:#6f6f6f;
  font-size:12px;
}

.name_article {
  margin:0 0 13px 0;
  text-decoration: underline;
  color:#005693;
}

.text_article {
  color:#6f6f6f;
  font-size:12px;
  margin:-5px 0 0 0;
}

.more {
  color:#005693;
}

.description {
  width:770px;
  height:100px;
  float:left;
  font-size:12px;
}

.description_mini {
  width:590px;
  height:100px;
  float:left;
  font-size:12px;
}

.price_numbers {
  margin-top:27px;
  margin-left:5px;
  color:#005693;
}

.dsc {
  padding:0px;
  margin:12px 0 5px 0;
  text-decoration:underline;
  color:#005693;
}

.text_dsc {
  line-height: 1.2em;
  padding-right:15px;
  margin-bottom:0;
}

.item_img {
  float:left;
  width:95px;
}

.btn-info {
  margin:-8px 18px 0 0;
}

.btn , .btn:hover , .btn:focus , .btn:active {
  padding:6px 3px;
  background:#2c90d6;
}

.btn:visited {
  background:#33a203;
}

.news {
  height:359px;
  width:100%;
  clear:both;
}

.new_items {
  height:454px;
  width:100%;
  clear:both;
  margin-bottom:24px;
}

.information {
  font-size:12px;
  color:#6f6f6f;
  height:445px;
  width:100%;
  clear:both;
}

.items {
  height:404px;
  width:800px;
  border-radius:5px;
}

.item_name {
  height:50px;
  width:100%;
}

.item1, .item2, .item3, .item4 {
  height:101px;
  width:100%;
  border-left: solid 1px #d0dce6;
  border-right: solid 1px #d0dce6;
  border-bottom: solid 1px #d0dce6;
}

.item1 {
  border-top: solid 1px #d0dce6;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.item4 {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
}

.item_name2 {
  height:48px;
  width:50%;
  background-color:white;
}

.item_name3 {
  height:50px;
  width:100%;
  background-color:white;
}

.item5 {
  width:480px;
  height:153px;
  border: solid 1px #d0dce6;
  border-radius:5px;
  margin-bottom:5px;
}

.item6 {
  width:480px;
  height:153px;
  border-radius:5px;
  border: solid 1px #d0dce6;
}

.sub_news {
  width:480px;
  height:311px;
  background-color:yellow;
}

.item7 {
  width:480px;
  height:311px;
  border: solid 1px #d0dce6;
  border-radius:5px;
  float:right;
  font-size:12px;
  color:#6f6f6f;
}

.text_item7 {
  padding:20px 15px 0 15px;
}

.surv {
  margin:11px 0 0 9px;
}

.cam {
  margin:18px 0 0 12px;
}

.preword {
  margin:24px 0 0 10px;
}

.preword1 {
  padding:24px 0 0 0;
  margin:0;
}

.preword2 {
  padding:24px 0 16px 0;
  margin:0;
  color:#4b4b4b;
}

.news1 {
  float:left;
}

.news2 {
  float:right;
  height:359px;
}

.preword_div {
  width:95px;
}

/* slider */

.slider {
  height:242px;
  width:799px;
  border-radius:5px;
}

.carousel-indicators {
  position:absolute;
  bottom:0;
}

.carousel-indicators li {
  width:16px;
  height:16px;
  background-color:#fff;
}

.carousel-indicators .active {
  width:16px;
  height:16px;
  background-color:#005693;
  border:1px solid #005693;
}

.carousel-control.right {
  background-image:none;
}

.carousel-control.left {
  background-image:none;
}

.carousel-control {
  opacity:1;
}


.qq {
  margin:95px -55px 0 0;
}

.qqq {
  margin:95px 0 0 -55px;
}

.slider_img1 {
  border-radius:5px;
}

/* slider ends */


/* sidebar */

.left_sidebar {
  width:175px;
  height:696px;
  margin-right:5px;
  float:left;
}

.categories {
  width:100%;
  height:39px;
  border-radius:5px;
  background-color:#2c90d6;
  margin-bottom:4px;
}

.cat {
  margin:0;
  padding:10px 0 0 0;
  margin:0 auto;
  text-align:center;
  color:white;
}

.left_nav {
  color:#005693;
  font-size:13px;
  margin:0px;
}

.left_nav > li {
  border-left:1px solid #d0dce6;
  border-right:1px solid #d0dce6;
  border-top:1px solid #d0dce6;
  padding:12.5px 0 12.5px 0;
}

.left_nav > li {
  padding-left:11px !important;
}

.left_nav > li > ul {
  display:none;
  list-style:none;
}

.left_sidebar ul li a {
  display:block;
  text-decoration:none;
}

.vodafone {
  color:#005693;
  list-style-type:none;
}

.left_nav_nav .vodafone {
  padding:13px 0 10px 11px;
  margin:15px 0 0 0;
  border-top:1px solid #d0dce6;
}

.left_sidebar a {
  color:#005693;
}

.left_nav > li  ul  li:hover {
  background-color:#005693;
  color:#fff;
}

.left_nav_nav .vodafone:hover {
  background-color:transparent;
  color:#005693;
}

.left_nav_nav > li > a {
  padding:4px 0 4px 24px;
}

.left_nav_nav > li > a:hover {
  color:#ffffff;
}

.left_nav_nav > a > li {
  padding:4px 0 4px 0;
}

.left_nav_nav a li {
  padding-left:24px;
  color:#005693;
}

.left_nav_nav {
  height:250px;
  margin-left:-11px;
}

.glyphicon-menu-down {
  float:right;
  margin:2px 8px 0 0;
}

.glyphicon-menu-up {
  float:right;
  margin:2px 8px 0 0;
}

.glyphicon-menu-left {
  float:right;
  font-size:18px;
  margin-right:10px;
  color:#005693;
}

.glyphicon-menu-right {
  float:right;
  font-size:18px;
  padding-right:2px;
  padding-left:10px;
  border-left:1px solid #d0dce6;
  color:#005693;
}


/* sidebar ends */

/* content ends */


/* footer */

footer {
  height:185px;
  width:1000px;
  background-color:#004576;
  margin:0 auto;
  clear:both;
}

.footer_info {
  width:185px;
  height:132px;
  float:right;
}

.footer_menu {
  background-color:#015793;
  height:53px;
  width:100%;
}

.numbers_footer {
  color:#98a9bc;
  float:right;
  margin-top:34px;
  margin-right:14px;
}

.email_footer {
  color:#98a9bc;
  margin:-7px 15px 0 0;
  font-size:13px;
  float:right;
}

.img_footer {
  margin:97px 0 0 206px;
}

.img_logo {
  float:left;
}

.footermenu li  {
  font-size:12px;
  display:block;
  float:left;
  padding:0 23px 0 23px;
  margin:18px 0 0 0;
}

.footermenu {
  width:100%;
  color: white;
  margin-left:100px;
}

.footermenu ul {
  list-style-type: none;
}

.telephone {
  margin:42px 0 0 0;
}


/* footer ends */









